a, a:hover {
    color: inherit;
}

body {
    background: #48575E;
    width: 100vw;
}

.btn-dark {
    color: white;
    background-color: #699b2c;
}

.btn-check:active+.btn-dark, .btn-check:checked+.btn-dark, .btn-dark.active, .btn-dark:active, .show>.btn-dark.dropdown-toggle {
    color: white;
    background-color: #699b2c;
}

.btn-dark.focus, .btn-dark:focus, .btn-dark:hover {
    color: #fff;
    background-color: #699b2c;
}

.cancelButton, .cancelButton:hover {
    background-color: #909689;
}

.container {
    padding: 0px;
}

.dropdown-item {
    color: white;
}

.edit-form-btn {
    margin: 0px 2px;
}

.form-outline {
    margin: 0px 20%;
}

.form-outline .form-control {
    background-color: #151C15;
}

.form-outline .form-control~.form-label {
    color: white !important;
}

.modal-content {
    background-color: #B8CF69;
}

.my-modal-header {
    text-align: center;
    margin-top: 15px;
    color: #435A00;
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.navbar {
    font-size: 20px;
    background-color: #435A00;
    color: white;
}

.navbar .navbar-brand {
    font-size: 25px;
    position: relative;
}

.pagination {
    margin-bottom: 0px;
}

.page-item.active .page-link {
    background-color: #435A00;
}

.page-link {
    color: white;
}

.page-link:hover {
    color:#303030;
}

.recentBlogEntry {
    background-color: #435A00;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    width: 75%;
}

.recent-entry-author {
    color: #B8CF69;
}

.recent-entry-text {
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.form-control {
    margin-bottom: 10px;
}

#dropdownMenuButton {
    background-color: #699b2c;
}

#dropdownImageSelect {
    background-color: #435A00;
}

#editFormButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
}

#editFormContainer {
    margin: 20px;
    background: #B8CF69;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 20px;
}

#mainPage {
    margin: 0px;
    min-width: 100vw;
    width: 100vw;
}

#navMenu {
    background-color: #303030;
    left: -90px;
    top: 40px;
}

#photoCaption {
    background-color: #699b2c;
    color: white;
    padding: 0px 10px;
}

#photoFileLabel {
    color:white;
}

#photoMenu {
    background-color: #303030;
    padding: 5px;
    top: 5px !important;
    width: max-content;
}

#profileHeader {
    background-color: #699b2c;
    display: flex;
    flex-direction: row;
    height: 25vh;
    justify-content: space-evenly;
    padding: 25px;
}

#profileInfo {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

#uploadPhotoBtn {
    position: relative;
    left: 65%;
}

#recentEntryContainer {
    display: flex;
    flex-direction: column;   
}

#recentBlogEntries {
    background-color: #699b2c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    
}

#recentBlogEntriesHeader {
    color: white;
    font-size: 20px;
    padding: 10px 0px;
    text-align: center;
}

#recentBlogEntriesScroll {
    background-color: #303030;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


